{{#if controllers.session.currentUser.authenticated}}
  {{#link-to 'stories.favorites' class="tag-link" activeClass="tag-active" tagName="div"}}{{fa-icon "star"}} Favorites{{/link-to}}
{{/if}}

{{#link-to 'stories.subscribed' class="tag-link" activeClass="tag-active" tagName="div"}}All{{/link-to}}
{{#each hashtags}}
  {{#link-to 'hashtags.show' this class="tag-link" activeClass="tag-active" tagName="div"}}
    {{title}} <span class='stories-count'>{{stories_count}}</span>
  {{/link-to}}
{{/each}}
