<h2>Add Feed</h2>
<p>paste in a url and we'll try to find a feed for you:</p>
<form {{action "save" on="submit"}}>
  <label>URL:
    {{input value=url}}
  </label>
  <label>Category:
    {{input value=category}}
  </label>
  <br>
  <input type="submit" value="save" class="button tiny" />
</form>