$font-styled: 'Great Vibes', serif;
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Arvo', serif;
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Source+Sans+Pro);


$light: #7fc7e3;
$dark: #3FABCF;
$highlight: #ff8787;

////////////////////TYPOGRAPHY

body {
  font-family: $font-sans;
  color:  #666;
  background: #eaeaea;
}

h1, h3, h4, h5 {
  color:  rgb(132, 132, 132);
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-family: $font-styled;
  font-weight: 700;
}

h2 {
  font-family: $font-serif;
	font-size: 1.8rem;
  color: #656565;
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h3 {
  font-family: $font-serif;
  font-size: 1.2rem;
	font-weight: 700;
}

h4, h5 {
  font-family: $font-serif;
  font-weight: 700;
}

p {
  font-family: $font-sans;
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 1.7rem;
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  }




////////////////////LAYOUT

	//TOP-BAR

.topbar-spacer {
	padding-top: 3.6rem;
}

.logo {
  color: #a7e1f4;
  display: inline;
}

.app-bar {
	width: 100%;
	position: fixed;
	z-index: 2;
}

.logo-bar {
	background: #3E5B64;
	border-bottom: solid .8rem #457d8e;
	height: 4.4rem;
	padding-top: .2rem;
	padding-left: 2rem;
	width: auto;
	overflow: hidden;
}

.account-box {
	height: 3.6rem;
	width: 20rem;
	padding-left: 2rem;
	padding-top: .8rem;
	float: left;
	position: relative;
}

.user-account {
	background: #3e5b64;
	height: 3.6rem;
	width: 20rem;
	padding-left: 2rem;
	padding-top: .8rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	&>p {
		color: #fff;
		white-space: nowrap;
		display: inline;
    line-height: 2;
	}
}

.account-actions {
  background: #354c53;
	text-align: center;
	height: 3rem;
	width: 20rem;
	position: absolute;
	left: 0;
	top: 1.4rem;
	z-index: 2;
	transition: all 260ms ease-in;
}

.user-option-icons {
	transition: all 230ms ease-in;
}

.user-options-wrap {
	margin-top: .6rem;
}

.user-option-text {
	color: #fff;
	font-size: 0rem;
	transition: all 260ms ease;

	}

.user-link {
	padding-top: .4rem;
	padding: .5rem;
	transition: all 260ms ease;
}

.user-link:hover {
	&>.user-option-text {
		font-size: .8rem;
	}
	&>.user-option-icons {
		-webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.85));
		filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.85));
	}
}

.expand-arrow-guest {
	display: block;
	vertical-align: bottom;
	margin-left: 9.4rem;
	margin-top: .7rem;
}

.expand-arrow-user {
	display: block;
	vertical-align: bottom;
	margin-left: 9.4rem;
	margin-top: .6rem;
}

.actions-visible {
	top: 3.6rem;
}

.login-text {
	color: #e0f7ff;
	font-family: $font-sans;
  line-height: 1.6rem;
	transition: all 250ms ease-in;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.login {
	font-size: .8rem;
}

.avatar {
	border-radius: 50%;
	width: 2rem;
	margin-right: .3rem;
  margin-top: -.1rem;
}






	//SIDE-BAR

.side-bar {
	background: #354c53;
	min-height: 100%;
	width: 20rem;
	padding-top: 8.2rem;
	background: #232F34;
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	transition: all 360ms ease;
	overflow: hidden;
}

.scroll-visible {
	overflow: auto;
}

.tag-link {
  padding: .7rem 0 .7rem 4rem;
  color: #89b3b7;
  font-family: $font-serif;
  font-size: 1.1rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  transition: color 280ms, padding 220ms ease-in, border 220ms ease-in, background 200ms ease-in-out;
  &:hover {
    border-left: 5px solid #8fdae0;
    padding: .7rem 0 .7rem 4.6rem;
    background: #1c2223;
    color: #c5fcf1;
    transition: all 220ms ease;
    cursor: pointer;
  }
}

.tag-active {
  border-left: 5px solid #8fdae0;
  padding: .7rem 0 .7rem 5rem;
  background: #212729;
  color: #acf5e9;
  font-size: 1.4rem;
  position: relative;
}

.tag-active:after {
  top: 17px;
  right: 0;
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #EAEAEA;
}





	//SCROLLBAR

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(90, 113, 119, 0.71);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(102, 152, 167, 0.48);
}



	//MAIN

main {
	position: relative;
}

.main-pane {
	padding: 2rem;
	width: auto;
	overflow: auto;
	margin-left: 20rem;
}

.article {
	background: #fff;
	border-radius: 9px;
	padding: 1.4rem;
	height: 100%;
}




	//UI

button, .button {
  background: #50B5D6;
  box-shadow: inset -1px -1px 15px 1px rgba(0,0,0,0.1);
  transition: all 200ms ease-in;
  &:hover {
    background: #F07272;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0000ff , 0 0 70px #4a86e8 , 0 0 80px rgba(0,0,255,0.7) , 0 0 100px rgba(0,255,255,1) ;
  }
}

.menu-icon {
	display: none;
}






/////////MEDIA QUERIES

@media (max-width: 1000px) {

	//NAV-SLIDER

	.menu-icon {
		cursor: pointer;
		display: inline-block;
		margin-right: 2rem;
		vertical-align: top;
		&>i {
			padding: .1rem .3rem;
			margin-top: 7px;
			color: #b5dfeb;
			border: dotted 2px #95c1ce;
			border-radius: 9px;
		}
	}

	.logo {
		vertical-align: middle;
		font-size: 2.8rem;
		transition: all 260ms ease;
	}

	.small-logo {
		font-size: 2rem;
		line-height: 2;
	}

	.side-bar {
		left: -100%;
	}

	.side-visible {
		left: 0;
	}

	.main-pane {
		margin-left: 0rem;
		transition: all 260ms ease-in;
	}

	.account-box {
		left: -100%;
		transition: all 450ms ease;
	}

	.app-bar {
		left: -20rem;
		width: 160%;
		transition: all 260ms ease-in;
	}

	.account-visible {
		left: 0;
	}

	.slide-panel {
		margin-right: -52rem;
		overflow: hidden;
		-webkit-filter: blur(15px);
		filter: blur(15px);
	}
}

@media (max-width: 650px) {

	.menu-icon {
		cursor: pointer;
		display: inline-block;
		margin-right: 4rem;
		vertical-align: top;
		&>i {
			padding: .1rem .3rem;
			margin-top: 7px;
			color: #b5dfeb;
			border: dotted 2px #95c1ce;
			border-radius: 9px;
		}
	}

	.logo {
		vertical-align: middle;
		font-size: 2.8rem;
		transition: all 260ms ease;
	}

	.small-logo {
		font-size: 0rem;
	}

	.side-bar {
		left: -100%;
	}

	.side-visible {
		left: 0;
	}

	.main-pane {
		margin-left: 0rem;
		transition: all 260ms ease-in;
	}

	.account-box {
		left: -100%;
		transition: all 450ms ease;
	}

	.app-bar {
		left: -20rem;
		width: 220%;
		transition: all 260ms ease-in;
	}

	.account-visible {
		left: 0;
	}

	.slide-panel {
		margin-right: -52rem;
		overflow: hidden;
		-webkit-filter: blur(15px);
		filter: blur(15px);
	}
}

@media (max-width: 415px) {

	.logo {
		vertical-align: middle;
		font-size: 2rem;
		line-height: 1.9;
		transition: all 260ms ease;
	}

	.menu-icon {
		cursor: pointer;
		display: inline-block;
		margin-right: 2rem;
		vertical-align: top;
		&>i {
			padding: .1rem .3rem;
			margin-top: 7px;
			color: #b5dfeb;
			border: dotted 2px #95c1ce;
			border-radius: 9px;
		}
	}

	.logo-bar {
		background: #3E5B64;
		border-bottom: solid .8rem #457d8e;
		height: 4.4rem;
		padding-top: .2rem;
		padding-left: .5rem;
		width: auto;
		overflow: hidden;
	}

	.slide-panel {
		-webkit-filter: blur(15px);
		filter: blur(15px);
		overflow: hidden;
	}

}
