@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Source+Sans+Pro);
/* line 14, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #666;
  background: #eaeaea;
}

/* line 20, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
h1, h3, h4, h5 {
  color: #848484;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 26, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
h1 {
  font-family: "Great Vibes", serif;
  font-weight: 700;
}

/* line 31, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
h2 {
  font-family: "Arvo", serif;
  font-size: 1.8rem;
  color: #656565;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 39, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
h3 {
  font-family: "Arvo", serif;
  font-size: 1.2rem;
  font-weight: 700;
}

/* line 45, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
h4, h5 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

/* line 50, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
p {
  font-family: "Source Sans Pro", sans-serif;
  color: #5a5a5a;
  font-size: 1rem;
  line-height: 1.7rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 59, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
span.prefix {
  color: #5a5a5a;
}

/* line 63, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.category-header {
  margin: 3.5rem 1rem 1rem 2rem;
  display: inline;
  color: #6b6b6b;
}

/* line 69, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.hashtag-subtitle {
  color: #7fc7e3;
}

/* line 73, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.profile-edit {
  font-size: .8rem;
}

/* line 81, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.topbar-spacer {
  padding-top: 3.6rem;
}

/* line 85, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.logo {
  color: #a7e1f4;
  display: inline;
}

/* line 90, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.app-bar {
  width: 100%;
  position: fixed;
  z-index: 2;
  transition: all 250ms ease-in;
}

/* line 97, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.logo-bar {
  background: #3E5B64;
  border-bottom: solid .8rem #457d8e;
  height: 4.4rem;
  padding-top: .2rem;
  padding-left: 2rem;
  width: auto;
  overflow: hidden;
}

/* line 107, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.account-box {
  height: 3.6rem;
  width: 20rem;
  padding-left: 2rem;
  padding-top: .8rem;
  float: left;
  position: relative;
}

/* line 116, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-account {
  background: #3e5b64;
  height: 3.6rem;
  width: 20rem;
  padding-left: 2rem;
  padding-top: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
/* line 126, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-account > p {
  color: #fff;
  white-space: nowrap;
  display: inline;
  line-height: 2;
}

/* line 134, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.account-actions {
  background: #354c53;
  text-align: center;
  height: 3rem;
  width: 20rem;
  position: absolute;
  left: 0;
  top: 1.4rem;
  z-index: 2;
  transition: all 260ms ease-in;
}

/* line 146, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-option-icons {
  transition: all 230ms ease-in;
}

/* line 150, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-options-wrap {
  margin-top: .6rem;
}

/* line 154, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-option-text {
  color: #fff;
  font-size: 0rem;
  transition: all 260ms ease;
}

/* line 161, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-link {
  padding-top: .4rem;
  padding: .5rem;
  transition: all 260ms ease;
}

/* line 168, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-link:hover > .user-option-text {
  font-size: .8rem;
}
/* line 171, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.user-link:hover > .user-option-icons {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.85));
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.85));
}

/* line 177, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.expand-arrow-guest {
  display: block;
  vertical-align: bottom;
  margin-left: 9.4rem;
  margin-top: .7rem;
}

/* line 184, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.expand-arrow-user {
  display: block;
  vertical-align: bottom;
  margin-left: 9.4rem;
  margin-top: .6rem;
}

/* line 191, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.actions-visible {
  top: 3.6rem;
}

/* line 195, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.login-text {
  color: #e0f7ff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6rem;
  transition: all 250ms ease-in;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 204, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.login {
  font-size: .8rem;
}

/* line 208, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.avatar {
  border-radius: 50%;
  width: 2rem;
  margin-right: .3rem;
  margin-top: -.1rem;
}

/* line 219, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.side-bar {
  background: #354c53;
  min-height: 100%;
  width: 20rem;
  padding-top: 5.2rem;
  background: #232F34;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 360ms ease;
}

/* line 233, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.scroll-visible {
  overflow: auto;
}

/* line 237, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.tag-link {
  padding: .7rem 0 .7rem 4rem;
  color: #89b3b7;
  font-family: "Arvo", serif;
  font-size: 1.1rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  transition: color 280ms, padding 220ms ease-in, border 220ms ease-in, background 200ms ease-in-out;
}
/* line 245, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.tag-link:hover {
  border-left: 5px solid #8fdae0;
  background: #1c2223;
  color: #c5fcf1;
  transition: all 220ms ease;
  cursor: pointer;
}

/* line 255, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.tag-active {
  border-left: 5px solid #8fdae0;
  background: #212729;
  color: #acf5e9;
  position: relative;
}

/* line 262, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.tag-active:after {
  top: 17px;
  right: 0;
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #EAEAEA;
}

/* line 279, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 284, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
/* line 289, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
::-webkit-scrollbar-thumb {
  background: rgba(90, 113, 119, 0.71);
}

/* line 293, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(102, 152, 167, 0.48);
}

/* line 301, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
main {
  position: relative;
}

/* line 305, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.main-pane {
  padding: 2rem;
  width: auto;
  overflow: auto;
  margin-left: 20rem;
}

/* line 312, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.article {
  background: #fff;
  border-radius: 9px;
  padding: 1.4rem;
  height: 100%;
}

/* line 319, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
a {
  color: #749fa8;
}

/* line 326, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.subscribe {
  display: inline;
  font-size: .8rem;
  vertical-align: super;
  color: #fff;
  padding: .3rem .5rem;
  background: #89c2d0;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 335, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.subscribe:hover {
  background: #546e72;
  color: #cff7ff;
}

/* line 341, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.unsubscribe {
  display: inline;
  font-size: .8rem;
  vertical-align: super;
  color: #fff;
  padding: .3rem .5rem;
  background: #d38b8b;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 350, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.unsubscribe:hover {
  background: #735656;
  color: #ffd2d2;
}

/* line 356, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.refresh-button {
  display: inline;
  font-size: .8rem;
  vertical-align: super;
  color: #fff;
  margin-right: .3rem;
  padding: .3rem .4rem .3rem .6rem;
  background: #89c2d0;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 366, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.refresh-button:hover {
  background: #546e72;
  color: #cff7ff;
}

/* line 372, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.updated-text {
  font-size: 0em;
  transition: all 350ms ease-in;
  color: #fff;
}

/* line 378, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.updated-visible {
  font-size: .8rem;
}

/* line 382, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.stories-count {
  font-size: .6rem;
  margin-left: .2rem;
  border-radius: 50%;
  color: #cae6e5;
  padding: .2rem .3rem;
  background: #2c4044;
  border-radius: 2px;
  vertical-align: middle;
}

/* line 393, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.toggle-option-on {
  display: inline;
  font-size: .8rem;
  vertical-align: super;
  color: #fff;
  padding: .3rem .5rem;
  background: #89c2d0;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 402, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.toggle-option-on:hover {
  background: #546e72;
  color: #cff7ff;
}

/* line 408, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.toggle-option-off {
  display: inline;
  font-size: .8rem;
  vertical-align: super;
  color: #fff;
  padding: .3rem .5rem;
  background: #d38b8b;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 417, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.toggle-option-off:hover {
  background: #735656;
  color: #ffd2d2;
}

/* line 423, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.password-options {
  background: #fafafa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: .4rem;
}

/* line 430, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
button, .button {
  background: #7AB1C3;
  box-shadow: inset -1px -1px 15px 1px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in;
  border: 2px solid #7aabb8;
}
/* line 435, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
button:hover, .button:hover {
  border: 2px solid #F07272;
  background: #F07272;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #0000ff, 0 0 70px #4a86e8, 0 0 80px rgba(27, 27, 27, 0.7), 0 0 100px #838383;
}
/* line 440, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
button:active, .button:active {
  border: 2px solid rgba(235, 189, 189, 0.59);
  background: #414141;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #0000ff, 0 0 70px #4a86e8, 0 0 80px rgba(27, 27, 27, 0.7), 0 0 100px #838383;
}
/* line 445, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
button:focus, .button:focus {
  border: 2px solid rgba(203, 203, 203, 0.3);
  background: rgba(178, 69, 69, 0.36);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

/* line 452, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.outlined {
  background: transparent;
  text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  border: 2px dashed rgba(81, 94, 101, 0.59);
  margin-left: 4rem;
  color: #c3d6dd;
}

/* line 460, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.overflow {
  text-align: center;
  padding-bottom: 2rem;
}

/* line 465, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.load-button {
  color: #fff;
  padding: .3rem .5rem;
  background: #89c2d0;
  border-radius: 3px;
  transition: all 350ms ease-in;
}
/* line 471, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.load-button:hover {
  background: #546e72;
  color: #cff7ff;
}
/* line 475, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.load-button:focus {
  color: #fff;
  background: #d38b8b;
}

/* line 481, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.menu-icon {
  display: none;
}

/* line 485, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
#flash-wrapper {
  position: relative;
}

/* line 489, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.flash-message {
  width: 100%;
  height: 100%;
  top: 40%;
  left: 0;
  position: fixed;
  z-index: 1000;
}

/* line 498, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.flash-text {
  text-align: center;
  margin: 0 auto;
  width: 350px;
  color: #fff;
  padding: 25px;
  border-radius: 9px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  background: #cb7575;
  border: solid 5px #eaeaea;
}

/* line 510, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.errors {
  font-size: .8rem;
  color: #b95656;
}

/* line 515, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.errors-large {
  padding: 2rem;
  background: #f27171;
  border: solid 5px #f9c0c0;
  border-radius: 1rem;
}

/* line 522, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.errors-text {
  font-size: .8rem;
  color: #fff;
}

/* line 527, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.dismiss-button {
  color: #fff;
  cursor: pointer;
}

/* line 532, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.loading-stories {
  text-align: center;
}
/* line 534, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.loading-stories span {
  font-size: 0rem;
  transition: all 300ms ease-in;
}

/* line 540, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.close-side-icon {
  color: #304246;
  margin-left: 1.2rem;
  font-size: 1.4rem;
}

/* line 546, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: scale(0);
  transition: all 300ms ease-in;
}
/* line 553, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.table .cell {
  display: table-cell;
  transform: scale(0);
  vertical-align: middle;
  transition: all 500ms ease;
}

/* line 561, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.story-read-text {
  font-size: 0rem;
  transition: all 220ms ease-in;
}

/* line 566, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.story-read {
  float: right;
  color: #9fd3d3;
  cursor: pointer;
}
/* line 570, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.story-read:hover
.story-read-text {
  font-size: .7rem;
}

/* line 577, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.loading-visible span {
  color: #f6f6f6;
  background: #457d8e;
  font-size: 1.6rem;
  font-family: "Arvo", serif;
  padding: 2rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
/* line 588, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.loading-visible .table {
  transform: scale(1);
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 594, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.loading-visible .table .cell {
  transform: scale(1);
  display: table-cell;
  vertical-align: middle;
}

/* line 602, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.gmb-loader {
  font-size: 0;
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
}

/* line 609, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.gmb-loader div {
  background: #7AB1C3;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  -webkit-animation: gmb-bounce 1.75s infinite;
  animation: gmb-bounce 1.75s infinite;
  top: 50%;
  margin-top: -15px;
}

/* line 620, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.gmb-loader div:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  left: 50%;
  margin-left: -15px;
}

/* line 626, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.gmb-loader div:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  right: 0;
}

@-webkit-keyframes gmb-bounce {
  10% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  15% {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #a8eee0;
  }
}
@keyframes gmb-bounce {
  10% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  15% {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #a8eee0;
  }
}
/* line 670, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.menu-icon {
  cursor: pointer;
  margin-right: 2rem;
  vertical-align: top;
  display: none;
}
/* line 675, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.menu-icon > i {
  padding: .1rem .3rem;
  margin-top: 7px;
  color: #b5dfeb;
  border: dotted 2px #95c1ce;
  border-radius: 9px;
}

/* line 684, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.menu-icon-show {
  display: inline-block;
}

/* line 688, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.logo {
  vertical-align: middle;
  font-size: 2.8rem;
  transition: all 260ms ease;
}

/* line 694, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.small-logo {
  font-size: 2rem;
  line-height: 2;
  transition: all 260ms ease-in;
}

/* line 700, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.hide-side-bar {
  left: -100%;
  transition: all 260ms ease-in;
}

/* line 705, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.side-visible {
  left: 0;
  transition: all 260ms ease-in;
}

/* line 710, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.full-main-pane {
  margin-left: 0rem;
  transition: all 260ms ease-in;
}

/* line 715, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.account-box-hide {
  left: -100%;
  transition: all 450ms ease;
}

/* line 720, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.app-bar-hide {
  left: -20rem;
  width: 160%;
  transition: all 260ms ease-in;
}

/* line 726, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.account-visible {
  left: 0;
  transition: all 260ms ease-in;
}

/* line 731, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
.slide-panel {
  margin-left: 20rem;
  overflow: hidden;
  /*   -webkit-filter: blur(15px);
  filter: blur(15px); */
  transition: all 260ms ease-in;
}

@media (max-width: 1000px) {
  /* line 748, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 2rem;
    vertical-align: top;
  }
  /* line 753, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon > i {
    padding: .1rem .3rem;
    margin-top: 7px;
    color: #b5dfeb;
    border: dotted 2px #95c1ce;
    border-radius: 9px;
  }

  /* line 762, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .logo {
    vertical-align: middle;
    font-size: 2.8rem;
    transition: all 260ms ease;
  }

  /* line 768, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .small-logo {
    font-size: 2rem;
    line-height: 2;
  }

  /* line 773, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .side-bar {
    left: -100%;
  }

  /* line 777, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .side-visible {
    left: 0;
  }

  /* line 781, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .main-pane {
    min-height: 100%;
    margin-left: 0rem;
    transition: all 260ms ease-in;
  }

  /* line 788, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .account-box {
    left: -100%;
    transition: all 450ms ease;
  }

  /* line 793, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .app-bar {
    left: -20rem;
    width: 160%;
    transition: all 260ms ease-in;
  }

  /* line 799, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .account-visible {
    left: 0;
  }

  /* line 803, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .slide-panel {
    margin-right: -52rem;
    overflow: hidden;
    -webkit-filter: blur(15px);
    filter: blur(15px);
  }
}
@media (max-width: 650px) {
  /* line 813, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 4rem;
    vertical-align: top;
  }
  /* line 818, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon > i {
    padding: .1rem .3rem;
    margin-top: 7px;
    color: #b5dfeb;
    border: dotted 2px #95c1ce;
    border-radius: 9px;
  }

  /* line 827, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .logo {
    vertical-align: middle;
    font-size: 2.8rem;
    transition: all 260ms ease;
  }

  /* line 833, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .small-logo {
    font-size: 0rem;
  }

  /* line 837, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .side-bar {
    left: -100%;
  }

  /* line 841, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .side-visible {
    left: 0;
  }

  /* line 845, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .main-pane {
    margin-left: 0rem;
    transition: all 260ms ease-in;
  }

  /* line 850, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .account-box {
    left: -100%;
    transition: all 450ms ease;
  }

  /* line 855, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .app-bar {
    left: -20rem;
    width: 220%;
    transition: all 260ms ease-in;
  }

  /* line 861, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .account-visible {
    left: 0;
  }

  /* line 865, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .slide-panel {
    margin-right: -52rem;
    overflow: hidden;
    -webkit-filter: blur(15px);
    filter: blur(15px);
  }
}
@media (max-width: 415px) {
  /* line 875, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .logo {
    vertical-align: middle;
    font-size: 2rem;
    line-height: 1.9;
    transition: all 260ms ease;
  }

  /* line 882, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 2rem;
    vertical-align: top;
  }
  /* line 887, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .menu-icon > i {
    padding: .1rem .3rem;
    margin-top: 7px;
    color: #b5dfeb;
    border: dotted 2px #95c1ce;
    border-radius: 9px;
  }

  /* line 896, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .logo-bar {
    background: #3E5B64;
    border-bottom: solid .8rem #457d8e;
    height: 4.4rem;
    padding-top: .2rem;
    padding-left: .5rem;
    width: auto;
    overflow: hidden;
  }

  /* line 906, /Users/benji/birdfeeder/app/assets/stylesheets/frontend/app.scss */
  .slide-panel {
    -webkit-filter: blur(15px);
    filter: blur(15px);
    overflow: hidden;
  }
}
